* {
    margin: 0;
    padding: 0;
}
header {
    z-index: 2;
    position: sticky;
    top: 0;
}
.container {
    background-color: black;
    width: 100%;
    height: 100px;
}
.logo {
    width: 120px;
    height: 100px;
    position: absolute;
    left: 20px;
}
.listed-items {
    display: inline-block;
    background-color: #FDD51F;
    margin: 15px;
    padding: 15px;
    position: relative;
    left: 75%;
    top: 10px;
}
.listed-items:hover {
    background-color: black;
}
.text-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
.text-link:hover {
    color: #FDD51F;
}
.hero-img {
    width: 100%;
    height: 1100px;
    background-image: url(../img/heroimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container-two {
    position: relative;
    width: 100%;
}
.studio-img {
    width: 600px;
    height: 400px;
    position: relative;
    left: 60%;
    bottom: 150px;
}
.paragraph-1 {
    width: 50%;
    position: relative;
    top: 150px;
    left: 80px;
    text-align: center;
    font-weight: bold;
}
.placeholder {
    background-color: #D6D2D3;
    height: 590px;
}
.placeholder-2 {
    background-color: aqua;
    height: 590px;
}
.container-three {
    width: 100%;
    position: relative;
}
.photo-cam {
    width: 600px;
    height: 400px;
    position: relative;
    left: 80px;
    top: 90px;
}
.paragraph-2 {
    width: 50%;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 45%;
    bottom: 230px;
}
footer {
    width: 100%;
    height: 400px;
    background-color: purple;
}
